.topBar {
    padding: 10px;
    background-color: skyblue;
}

.profileDetails {
    padding: 20px;
    float:left;
   border-style: solid;
    border-color: gray;
}

.picture {
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    float: right;
}