.topBar {
    padding: 10px;
    background-color: skyblue;
}

.profileDetails {
    padding: 20px;
    float:left;
   border-style: solid;
    border-color: gray;
}

.picture {
    height: 200px;
    width: 200px;
}